.header {
    background-color: white;
    &__logo {
        display: block;
        margin: auto;
        padding: 20px 15px 15px 15px;
    }
    &__arrow {
        position: absolute;
        line-height: 3.5;
        padding: 0 20px;
        @include a-style(black);
        font-size: map-get($font-sizes, heading4 );
        @media (max-width: 350px) {
            line-height: 4;
        }
        @media (min-width: 1024px) {
            font-size: map-get($font-sizes, heading2 );
            line-height: 2.5;
            padding: 0px 50px;
        }
        @media (min-width: 1280px) {
            line-height: 3;
        }
    }
}
