/*background images of the restaurants*/
.palette-gout {
    background-image: url(../images/restaurants/la-palette.jpg);
}
.note-enchante {
    background-image: url(../images/restaurants/note-enchante.jpg);
}
.francaise {
    background-image: url(../images/restaurants/la-francaise.jpg);
}
.delice {
    background-image: url(../images/restaurants/le-delices.jpg);
}

