.menu {
    padding: 0;
    background-color: $section-backColor;
    &__picture {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 260px;
        }
    &__text {
        position: relative;
        top: -53px;
        background-color: $section-backColor;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 15px 20px 0 15px;
        @media (min-width: 640px) {
            padding-right: 40px;
            padding-left: 40px;
        }
        @media (min-width: 768px) {
            padding-right: 30px;
            padding-left: 30px;
        }
        h4 {
            font-weight: map-get($font-weights, thin );
            position: relative;
            &::before {
                position: absolute;
                content: "";
                left    : 0;
                bottom  : -7px;
                width: 11.5%;
                border-bottom: 3px solid $tertiary-color;
            }
        }
    }
    .menu-heading {
        display: inline-flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        letter-spacing: 0.04em;
    }
    .starters, .main-dishes, .desserts {
        margin: 40px 0;
    }    
    .starters--anim {
        animation: fadein 1s ease-out 200ms 1;
    }
    .main-dishes--anim {
        animation: fadein 1s ease-out 400ms 1;
    }
    .desserts--anim {
        animation: fadein 1s ease-out 600ms 1;
    }
    .menu-choices {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-column-gap: 10px;
        }
        @media (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 10px;
        }
    }
    .meal-choice {
        background-color: white;
        box-shadow: $block-shadow $shadow;
        margin-bottom: 15px;
        border-radius: 15px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        &:hover {
            .add-plate {
                animation: save-plate 1s ease-out forwards;
            }
            .check-icon {
                animation: rotate 1s ease-out 1;
            }
            .plate p, h5 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        @media (min-width: 768px) {
            width: 97%;
        }
        @media (min-width: 1024px) {
            width: 100%;
        }
        .plate {
            padding: 5px;
            width: 81%;
            @media (min-width: 1024px) {
                width: 70%;
            }
        }
        .price {
            font-size: map-get($font-sizes, small );
            font-weight: map-get($font-weights, bold );
            transform: translate(0px,30px);
            padding-right: 15px;
            @media (min-width: 1024px) {
                transform: translate(10px, 34px);
                padding-right: 20px;
            }
        }
        .add-plate {
            background-color: $tertiary-color;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            opacity: 0; 
            width: 0;
        }
        .check-icon {
            color: white;
            line-height: 61px;
            display: block;
            text-align: center;
        }
        h5 {
            font-size: map-get($font-sizes, normal );
            margin: 5px;
            max-width: 200px;
            white-space: nowrap; 
            @media (max-width: 347px) {
                font-size: map-get($font-sizes, small );
                max-width: 170px;
                text-overflow: ellipsis;
            }
            @media (min-width: 1024px) {
                max-width: 280px;
            }
        }
        p {
            font-weight: map-get($font-weights, thin );
            font-size: map-get($font-sizes, small );
            margin: 5px;
            max-width: 200px;
            white-space: nowrap;
            @media (max-width: 347px) {
                font-size: map-get($font-sizes, xs );
                max-width: 170px;
                text-overflow: ellipsis;
            }
            @media (min-width: 1024px) {
                max-width: 280px;
            }
        }
    }
}