.function {
    &__heading {
        @media (min-width: 768px) {
            text-align: center;
        }
    }
    .function__list {
        list-style-type: none;
        width: 90%;
        margin: 10px;
        padding: 0;
        @media (min-width: 640px) {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 25px;
            width: 100%;
            margin: 0;
        }
        @media (min-width: 1024px) {
            margin: auto;
            width: 90%;
            grid-gap: 40px;
        }
        .function-item {
            height: 25px;
            border: 2px solid transparent;
            padding: 15px;
            border-radius: 17px;
            font-family: $texte-font;
            font-weight: map-get($font-weights, bold );
            margin: 20px 0;
            font-size: map-get($font-sizes, small );
            background-color: $section-backColor;
            box-shadow: $block-shadow $shadow;
                &:hover {
                    background-color: rgba($primary-color, .1);
                    box-shadow: $block-shadow $darker-shadow;
                    }
                &:hover {
                    & .function-icon {
                        color: $primary-color;
                    }
                } 
                @media (max-width: 350px) {
                    text-align: center;
                }
                @media (min-width: 640px){
                    display: flex;
                }
                @media (min-width: 1024px) {
                    padding: 15px 10px 10px 10px;
                }
            }
        .numbers {
            position: absolute;
            left: 25px;
            border: 2px solid transparent;
            background-color: $primary-color;
            color: white;
            height: 18px;
            width: 18px;
            border-radius: 10px;
            line-height: 2;
            text-align: center;
            transform: translate(-4px, -1px);
            font-size: map-get($font-sizes, xxs );
            @media (min-width: 640px) {
                position: relative;
                left: -22px;
                padding: 3px 6px;
                border-radius: 50%;
            }
            @media (min-width: 768px) {
                padding: 3px;
                border-radius: 20px;
                width: 20px;
            }
            
        }
        .function-icon {
            margin: 15px 20px;
            color: #7e7e7e;
            font-size: 1.2em;
            @media (max-width: 350px) {
                margin-right: 5px;
                margin-left: 0px;
            }
            @media (min-width: 640px) {
                margin: 0px 20px 0 0;
            }
            @media (min-width: 1024px) {
                margin-right: 15px;
                line-height: 0;
            }
        }
    }
}
