.restaurants {
    background-color: $section-backColor;
    padding-bottom: 50px;
    &__list {
        @media (min-width: 640px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-column-gap: 10px
        }
    }
    &__list__block {
        position: relative;
    }
    &__anchor {
        border-radius: 15px;
        margin: 20px 0;
        width: 100%;
        box-shadow: $block-shadow $shadow;
        background-color: white;
        display: block;
        position: relative;
        @include a-style(black);
    }
    &__pic {
        background-size: cover;
        min-width: 40%;
        min-height: 170px;
        background-position: center center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__text {
        padding: 10px;
        h4 {
            margin: 5px;
        }
        p {
            margin: 5px;
            font-weight: map-get($font-weights, thin );
        }
    }
    .new {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $tertiary-color;
        padding: 5px 10px;
        border-radius: 2px;
        font-size: map-get($font-sizes, small );
        color: darken($tertiary-color, 45%);
        font-weight: map-get($font-weights, bold );
    }
    /*label.bookmark-home {
        position: absolute;
        right: 40px;
        bottom: 50px;
        .fa-heart {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1em;
            transform: scale(1.1,1.2);
            cursor: pointer;
        }
        .fill-heart {
            opacity: 0;
            background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            /*animation: fill-in 1s ease-in-out;*/ 
           /* transition: all 600ms ease-in-out;
        }
    }
    #bookmark-switch1, #bookmark-switch2, #bookmark-switch3, #bookmark-switch4 {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    #bookmark-switch1, #bookmark-switch2, #bookmark-switch3, #bookmark-switch4:checked ~ i {
        &.empty-heart {
            opacity: 0;
        }
        &.fill-heart {
            /*animation: fill-in 1s ease-in-out;*/
            /*opacity: 1;
            transform: scale(1.1);
        }
    }
    /*.heart {
        @include hearts;
        @include a-style(black);
        z-index: 2;
        position: absolute;
        right: 0;
        bottom: 7px;
        &--check {
            bottom: 12px;
            right: 4px;
            opacity: 0
        }
    }*/ 
} 
