$title-font: 'Shrikhand', cursive;
$texte-font: 'Roboto', sans-serif;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gardient-btn: linear-gradient(352deg,#9356dc 0%, #ff79da 80%);
$footer-backColor: #353535;
$section-backColor: #f6f6f6;
$input-backColor: #eaeaea;
$shadow: darken($input-backColor , 10% );

$font-sizes: (
    "xxs": 0.7em,
    "xs": 0.8em,
    "small": 0.9em,
    "normal": 1em,
    "heading4": 1.2em,
    "heading2": 1.5em
);
$font-weights: (
    "thin": 100,
    "normal": 400,
    "bold": 500,
    "bolder": 600
);