@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

@import "./base/base";

@import "./components/location-input";
@import "./components/button";
@import "./components/heart";
@import "./components/loading-spinner";

@import "./layouts/header";
@import "./layouts/images-resto";
@import "./layouts/menu";
@import "./layouts/footer";

@import "./pages/explore-restos";
@import "./pages/functioning";
@import "./pages/restaurants-list";

