@import "./variables";
@import "./mixins";

body {
    margin: 0;
    box-sizing: border-box;
}
section {
    padding: 15px;
}
.title-font {
    font-family: $title-font;
}
.texte-font {
    font-family: $texte-font;
}
.header {
    &__logo {
        @include logo-position;
    }
    &__arrow {
        position: absolute;
        line-height: 4;
        color: $normal-link;
        text-decoration: none;
    }
}
.location {
    width: 100%;
    background-color: $input-backColor;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #353535;
    font-size: map-get($font-sizes , normal );
    box-shadow:  1px 1px 3px -1px $input-shadow inset;
    &__icon {
        margin: 0 5px;
    }
    &__input {
    outline: none;
    border: none;
    background-color: $input-backColor;
    }
}
.explore {
    background-color: $section-backColor;
    &__heading {
        text-align: center;
        font-size: map-get($font-sizes , heading2);
    }
    &__p {
        text-align: center;
        font-weight: map-get($font-weights, thin );
    }
}
.btn {
    border-radius: 20px;
    padding: 13px;
    display: block;
    margin: auto;
    background: $gardient-btn;
    border: none;
    color: white;
    font-size: map-get($font-sizes , small);
    outline: none;
    box-shadow: 6px 15px 5px -12px $boxes-shadow;
    margin-top: 25px;
    margin-bottom: 25px;
}
.function__list {
    list-style-type: none;
    width: 90%;
    margin: auto;
    padding: 0;
    .function-item {
        border: 2px solid transparent;
        padding: 15px;
        border-radius: 17px;
        font-family: $texte-font;
        font-weight: map-get($font-weights, bold );
        margin: 15px 0;
        font-size: map-get($font-sizes, small );
        background-color: $section-backColor;
        box-shadow: 6px 8px 15px -6px $boxes-shadow;
    }
    &:hover {
        
    }
    .numbers {
        position: absolute;
        left: 25px;
        border: 2px solid transparent;
        background-color: $primary-color;
        color: white;
        height: 18px;
        width: 18px;
        border-radius: 10px;
        line-height: 2;
        text-align: center;
        transform: translate(-4px, -1px);
        font-size: map-get($font-sizes, xs );
    }
    .function-icon {
        margin: 10px;
        color: #7e7e7e;
    }
}