body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  padding: 15px;
}

.title-font {
  font-family: "Shrikhand", cursive;
}

.texte-font {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  display: block;
  margin: auto;
  padding: 15px;
}

.header__arrow {
  position: absolute;
  line-height: 4;
  text-decoration: none;
  color: black;
}

.location {
  width: 100%;
  background-color: #eaeaea;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #353535;
  font-size: 1em;
  -webkit-box-shadow: 1px 1px 3px -1px #d1d1d1 inset;
          box-shadow: 1px 1px 3px -1px #d1d1d1 inset;
}

.location__icon {
  margin: 0 5px;
}

.location__input {
  outline: none;
  border: none;
  background-color: #eaeaea;
}

.explore {
  background-color: #f6f6f6;
}

.explore__heading {
  text-align: center;
  font-size: 1.5em;
}

.explore__p {
  text-align: center;
  font-weight: 100;
}

.btn {
  border-radius: 20px;
  padding: 13px;
  display: block;
  margin: auto;
  background: linear-gradient(352deg, #9356dc 0%, #ff79da 80%);
  border: none;
  color: white;
  font-size: 0.9em;
  outline: none;
  -webkit-box-shadow: 6px 15px 5px -12px #d1d1d1;
          box-shadow: 6px 15px 5px -12px #d1d1d1;
  margin-top: 25px;
  margin-bottom: 25px;
}

.function__list {
  list-style-type: none;
  width: 90%;
  margin: auto;
  padding: 0;
}

.function__list .function-item {
  border: 2px solid transparent;
  padding: 15px;
  border-radius: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 15px 0;
  font-size: 0.9em;
  background-color: #f6f6f6;
  -webkit-box-shadow: 6px 8px 15px -6px #d1d1d1;
          box-shadow: 6px 8px 15px -6px #d1d1d1;
}

.function__list .function-item:hover {
  background-color: rgba(147, 86, 220, 0.1);
}

.function__list .function-item:hover .function-icon {
  color: #9356DC;
}

.function__list .numbers {
  position: absolute;
  left: 25px;
  border: 2px solid transparent;
  background-color: #9356DC;
  color: white;
  height: 18px;
  width: 18px;
  border-radius: 10px;
  line-height: 2;
  text-align: center;
  -webkit-transform: translate(-4px, -1px);
          transform: translate(-4px, -1px);
  font-size: 0.7em;
}

.function__list .function-icon {
  margin: 10px;
  color: #7e7e7e;
}

.restaurants {
  background-color: #f6f6f6;
}

.restaurants__block {
  border-radius: 15px;
  margin: 10px 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 4px 0px #d9d9d9;
          box-shadow: 0px 0px 4px 0px #d9d9d9;
  background-color: white;
  display: block;
  position: relative;
  text-decoration: none;
  color: black;
}

.restaurants__pic {
  background-size: cover;
  min-width: 40%;
  min-height: 150px;
  background-position: center center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurants__text {
  padding: 10px;
}

.restaurants__text h4 {
  margin: 5px;
}

.restaurants__text p {
  margin: 5px;
}

.restaurants .new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  padding: 5px;
}

.restaurants .heart {
  float: right;
  margin: 20px;
}

.palette-gout {
  background-image: url(../images/restaurants/la-palette.jpg);
}

.note-enchante {
  background-image: url(../images/restaurants/note-enchante.jpg);
}

.francaise {
  background-image: url(../images/restaurants/la-francaise.jpg);
}

.delice {
  background-image: url(../images/restaurants/le-delices.jpg);
}
/*# sourceMappingURL=style.css.map */