@keyframes homepage-load {
        0% , 100% {
            transform: scale(1);
            height: 100vh;
            width: 100vw;
        }
}
/*for the leading spinner*/
@keyframes spinner {
    0% {
      transform: rotate(0deg);
      opacity:1;
    }
    25% {
      opacity: 0.7;
    }
    75% {
      opacity: 0.3;
    }
    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
} 
/*for the animation of the menus*/
@keyframes fadein {
  0% {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}  
/*for the animation to save each plate of the menu*/ 
@keyframes save-plate {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    width: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    width: 20%;
  }
}
/*for the icon in the save plate animation*/ 
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}